.bodyWrapper {
}

.header {
    display: flex;
    min-height: 15vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #282c34;
}

.App p {
    margin: 0.4rem;
}
